@import '@/styles/_variables.scss';

.cartPage {
  background: $dark-grey;
  min-height: 100vh;
  padding: 40px 0;

  .cartContent {
    h1 {
      color: $white;
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .cartItems {
      background: $primary-bg;
      border-radius: 16px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
      padding: 24px;
      margin-bottom: 2rem;
    }

    .cartTotal {
      text-align: right;
      font-weight: 700;
      color: #4fc3f7;
      font-size: 1.5rem;
      background: $primary-bg;
      border-radius: 16px;
      padding: 1rem 2rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

      h2 {
        margin: 0;
        color: $white;
      }
    }
  }

  .cartImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: $white;
  }
}

.emptyCart {
  color: $white;
  text-align: center;
  margin-top: 45vh;
  font-size: 32px;
  font-weight: 400;
}
