@import '@/styles/_variables.scss';

.homePage {
  background: $dark-grey;
  min-height: 100vh;
  padding: 2.5rem 0;
}

.productGrid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 60px;
}
