@import '@/styles/_variables.scss';

.homePage {
  background: $dark-grey;
  min-height: 100vh;
  padding: 2.5rem 0;
}

.productGrid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.loadingContainer {
  text-align: center;
  padding: 2rem;

  .loadingText {
    margin-top: 1rem;
    color: $white;
  }
}

.errorContainer {
  text-align: center;
  padding: 2rem;
  color: #f44336;
}
